/* Title Here
--------------------------------------------------- */

// Small screens
@media only screen { 
 
 .articles-feed {
  height: 50vh;
  background-color: $highlight-white;
  padding: 0px 15px;
 }

  .media-object {
    padding: 2rem;
  }

  .media-object:hover {
    background-color: $highlight-white;
  }

  .media-object-section {
    display: block;
    color: $white;
    padding: 0px!important;

    h4 {
      color: white;
    }
    img {
      width: 100%;
    }
  }
} 

@media only screen and (min-width: 37em) { 
  .media-object {
    padding: 1rem;
  }

  .media-object-section {
      display: table-cell;

    img {
      width: initial;
      margin-right: 20px;
    }
  }

   .articles-feed {
  height: 65vh;
  }
}

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */