/* Custom Global
---------------------------------------------------- */ 
body { 
  background: #207CA9;
  max-width: 860px;
  margin: 0 auto;
  color: white;
}

a { font-weight: bold; }

hr { border-bottom: 1px solid $opaque-white; }