.sticky {
  position: fixed;
  bottom: 0px;
}

.nine-sixty {
  width: 100%;
  max-width: 960px;
}

.active {
  color: white!important;
}


/* External Profile Links on Profile View */
.profile-links {
  margin-bottom: 50px;
}

@media only screen and (min-width: 37em) { 

}