/* Links
-------------------------------------------------------------- */
a {text-decoration: none;color: #00BCD4;}
a.dribbble_link, a.gimmebar_link {color: #f64599;}
a.twitter_link {color: #2eb8e7;}
a:hover {color: #999;}

.demo_link {margin: 0 0 3em;}

a, #nav a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

#send, #searchsubmit {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}